<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A New Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About page</a></li>
            <li><a href="/contact">Contact page</a></li>
        </ul>
    </nav>
    <div class="404 content">
        <h2>404 - Page Not Found</h2>
    </div>
</body>
</html>